body {
  background-image: url("img/grass.png");
  background-repeat: repeat;
  background-color: #72c055;
}

#sky {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #b5ebff;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

#sunbox {
  position: absolute;
  top: 0;
  left: calc(50% - 250px);
}

#sunbox img {
  width: 500px;
  animation: rotation 60s infinite linear;
}

@keyframes rotation {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

#cloudsky {
  position: relative;
  width: 100%;
  height: 20rem;
  overflow-x: hidden;
}

.clouds {
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0%;
  top: 0%;
}

.cloud1 {
  animation: slide1 60s linear infinite;
}

.cloud2 {
  animation: slide2 60s linear infinite;
}

@keyframes slide1 {
  from { left: 0%; }
  to   { left: -100%; }
}

@keyframes slide2 {
  from { left: 100%; }
  to   { left: 0%; }
}

#titlebox {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  font-family: Arial Narrow, sans-serif;
  font-weight: bold;
  font-size: xx-large;
}

#titlebox img {
  width: calc(min(95vw, 800px));
}

#ground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/background.png");
  background-repeat: repeat-x;
  overflow-x: clip;
}

.object {
  position: relative;
  display: inline-block;
  width: 300px;
}

#objectbox {
  position: relative;
  top: 250px;
  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;
  z-index: 2;
}

.objectimg {
  width: 300px;
  height: 300px;
}

.object p {
  background: white;
  margin: 25px;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.35); 
  font-family: Garamond, serif;
}

.object .icon {
  position: absolute;
  display: inline-block;
  width: 100px;
  top: 225px;
  right: 0;
}

.icon img {
  width: 100px;
  height: 100px;
}

.critter {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 250px;
}

:root{
  --rabbit1y: 23vw;
  --rabbit1x: 250px;
  --rabbit2y: 83vw;
  --rabbit2x: 150px;
  --squirrel1y: 52vw;
  --squirrel1x: 20px;
  --squirrel2y: 12vw;
  --squirrel2x: 25px;
  --squirrel3y: 92vw;
  --squirrel3x: 23px;
  --daisy1y: 75vw;
  --daisy1x: 280px;
  --daisy2y: 23vw;
  --daisy2x: 380px;
  --daisy3y: 15vw;
  --daisy3x: 180px;
  --mushroom1y: 44vw;
  --mushroom1x: 200px;
  --ladybug1y: 1vw;
  --ladybug1x: 210px;
  --ladybug2y: 2vw;
  --ladybug2x: 220px;
  --flower1y: 5vw;
  --flower1x: 250px;
  --flower2y: 10vw;
  --flower2x: 260px;
  --flower3y: 15vw;
  --flower3x: 270px;
  }

#rabbit1 {
  left: var(--rabbit1y);
  margin-top: var(--rabbit1x);
}

#rabbit2 {
  left: var(--rabbit2y);
  margin-top: var(--rabbit2x);
}

#squirrel1 {
  left: var(--squirrel1y);
  margin-top: var(--squirrel1x);
}

#squirrel2 {
  left: var(--squirrel2y);
  margin-top: var(--squirrel2x);
}

#squirrel3 {
  left: var(--squirrel3y);
  margin-top: var(--squirrel3x);
}

#daisy1 {
  left: var(--daisy1y);
  margin-top: var(--daisy1x);
}

#daisy2 {
  left: var(--daisy2y);
  margin-top: var(--daisy2x);
}

#daisy3 {
  left: var(--daisy3y);
  margin-top: var(--daisy3x);
}

#mushroom1 {
  left: var(--mushroom1y);
  margin-top: var(--mushroom1x);
}

#ladybug1 {
  left: var(--ladybug1y);
  margin-top: var(--ladybug1x);
}

#ladybug2 {
  left: var(--ladybug2y);
  margin-top: var(--ladybug2x);
}

#flower1 {
  left: var(--flower1y);
  margin-top: var(--flower1x);
}

#flower2 {
  left: var(--flower2y);
  margin-top: var(--flower2x);
}

#flower3 {
  left: var(--flower3y);
  margin-top: var(--flower3x);
}

a {
  color: black;
  text-decoration: none;
}

#backbox {
  position: absolute;
  top: 150px;
  left: 15px;
  z-index: 10;
}

#backbox img {
  height: 50px;
}

.photobox {
  position: relative;
  width: calc(min(400px, 60vw));
  display: inline-block;
  margin: 15px;
  align: center;
  vertical-align: middle;
}

.photo {
  position: relative;
  display: inline-block;
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.35);
}

.land {
  width: calc(min(400px, 60vw));
}

.port {
  height: calc(min(400px, 60vw));
}

.photobox .icon {
  position: absolute;
  display: inline-block;
  width: 100px;
  right: 5px;
  bottom: 5px;
}
