body {
  background-image: url("img/air.png");
  background-repeat: repeat;
  background-color: #72c055;
}

#sky {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #b5ebff;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

#sunbox {
  position: absolute;
  top: 0;
  left: calc(50% - 250px);
}

#sunbox img {
  width: 500px;
  animation: rotation 60s infinite linear;
}

@keyframes rotation {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

#cloudsky {
  position: relative;
  width: 100%;
  height: 20rem;
  overflow-x: hidden;
}

.clouds {
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0%;
  top: 0%;
}

.cloud1 {
  animation: slide1 60s linear infinite;
}

.cloud2 {
  animation: slide2 60s linear infinite;
}

@keyframes slide1 {
  from { left: 0%; }
  to   { left: -100%; }
}

@keyframes slide2 {
  from { left: 100%; }
  to   { left: 0%; }
}

#titlebox {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  font-family: Arial Narrow, sans-serif;
  font-weight: bold;
  font-size: xx-large;
}

#titlebox img {
  width: calc(min(95vw, 950px));
}

#ground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/background.png");
  background-repeat: repeat-x;
  overflow: hidden;
}

.object {
  position: relative;
  display: inline-block;
  width: 300px;
  font-family: sans-serif;
}

#objectbox {
  position: relative;
  top: 250px;
  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;
  z-index: 2;
}

.object img {
  width: 300px;
  height: 300px;
}

.critter {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 250px;
}

:root{
  --rabbit1y: 23vw;
  --rabbit1x: 250px;
  --rabbit2y: 83vw;
  --rabbit2x: 150px;
  --squirrel1y: 52vw;
  --squirrel1x: 20px;
  --squirrel2y: 12vw;
  --squirrel2x: 25px;
  --squirrel3y: 92vw;
  --squirrel3x: 23px;
  --daisy1y: 75vw;
  --daisy1x: 280px;
  --daisy2y: 23vw;
  --daisy2x: 380px;
  --daisy3y: 15vw;
  --daisy3x: 180px;
  --mushroom1y: 44vw;
  --mushroom1x: 200px;
}

#rabbit1 {
  left: var(--rabbit1y);
  margin-top: var(--rabbit1x);
}

#rabbit2 {
  left: var(--rabbit2y);
  margin-top: var(--rabbit2x);
}

#squirrel1 {
  left: var(--squirrel1y);
  margin-top: var(--squirrel1x);
}

#squirrel2 {
  left: var(--squirrel2y);
  margin-top: var(--squirrel2x);
}

#squirrel3 {
  left: var(--squirrel3y);
  margin-top: var(--squirrel3x);
}

#daisy1 {
  left: var(--daisy1y);
  margin-top: var(--daisy1x);
}

#daisy2 {
  left: var(--daisy2y);
  margin-top: var(--daisy2x);
}

#daisy3 {
  left: var(--daisy3y);
  margin-top: var(--daisy3x);
}

#mushroom1 {
  left: var(--mushroom1y);
  margin-top: var(--mushroom1x);
}
